.SliderDiv {
        width: 50vw;
        height: 80vh;
        border-radius: 10px;
        background-position: center;
        background-size: contained;
        overflow: hidden;
}

.SliderDiv img {
        height: 100%;
        width: 100%;

}

.big {
        text-align: center;
}

.BoxClass button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
}

.swing-left-fwd-reverse {
        -webkit-animation: swing-left-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
        animation: swing-left-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse;
}

@-webkit-keyframes swing-left-fwd {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }

        100% {
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }
}

@keyframes swing-left-fwd-reverse {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }

        100% {
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }
}

.swing-left-fwd {
        -webkit-animation: swing-left-fwd 0.5s linear;
        animation: swing-left-fwd 0.5s linear;
}

@-webkit-keyframes swing-left-fwd {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }

        100% {
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }
}

@keyframes swing-left-fwd {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }

        100% {
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                -webkit-transform-origin: left bottom;
                transform-origin: left bottom;
        }
}

@media only screen and (max-width: 768px) {


        .SliderDiv {
                height: 55vh;
                width: 88vw;
        }


}