.container
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1766838/pexels-photo-1766838.jpeg?cs=srgb&dl=pexels-baskin-creative-studios-1766838.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.flag{
    object-fit: contain;
}
.flagText{
    text-align: center;
    display: none;
    cursor: pointer;
}
#flagDiv{
    margin: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 7vw;
    width: 10vw;
    border-radius: 12%;
    opacity: 70%;
}
#flagDiv:hover{
    opacity: 100%;
}
.SA{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFdE-MPjKC8LyE3nonpLyf-aXUpRRUBAQGq_hNclyFif8bxc-05C3cntD4Xji6Gml0SPs&usqp=CAU');
}
.Thailand{
    background-image: url('https://cdn.britannica.com/38/4038-004-111388C2/Flag-Thailand.jpg');
}
.Costa{
    background-image: url('https://flagdom.com/flag-resources/flag-images/international/costa-rica/costa-rica-flag_3000x1800.png');
}
.Peru{
    background-image: url('https://cdn.britannica.com/48/3448-004-33B5D198/Flag-Peru.jpg');
}
.Tansania{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Flag_of_Tanzania.svg/2560px-Flag_of_Tanzania.svg.png');
}
.Ecuador{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/800px-Flag_of_Ecuador.svg.png?20140720204051');
}
.Indonesia{
    background-image: url('https://cdn.britannica.com/48/1648-004-A33B72D8/Flag-Indonesia.jpg');
}
.Brazil{
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/640px-Flag_of_Brazil.svg.png');
}
.Nepal{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Flag_of_Nepal_%28white_background%2C_aspect_ratio_3-2%29.svg/2560px-Flag_of_Nepal_%28white_background%2C_aspect_ratio_3-2%29.svg.png');
}
.applyDiv{
    height: 100vh;
    width: 100vw;
    background-image: url('https://files.oyebesmartest.com/uploads/large/lake-hd-wallpapersionqj.png');
    background-size: cover;
    margin-top: 4.4%;
    display: flex;
    justify-content: center;
}
#selectDate{
    color: black;
    opacity: 50%;
}